body {
    background-color: #f7d99e;
    font-family: 'OpenSans-Regular';
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    color: #181532; ;
}

.navbar {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
=======
    color: #2a2a2a;
>>>>>>> 3f44ccb84911f9feb2ad1105b46d0733e4d5bc84
}

header {
    background-color: #181532;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    
}

.section-1, .section-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.section-1 .text-content, .section-2 .text-content {
    flex: 1;
    padding: 20px;
}

.section-1 .image-content, .section-2 .image-content {
    flex: 1;
    text-align: center;
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.heading {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
}

.subheadings {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.subheading {
    width: 45%;
}

.subheading h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.subheading p {
    font-size: 16px;
}

.ticket-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2a2a2a;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.ticket-button:hover {
    background-color: #444444;
}

.banner-image {
    width: 100%;
   
}

.banner-image img {
    width: 100%;
}

.section-2 {
    background-color: #181532;
    color: white;
    padding: 40px 20px;
    margin: -5px;
}

.section-2 .ticket-button {
    background-color: #F6C567;
}

<<<<<<< HEAD
.heading, .subheading-1, .h3, .character-name {
=======
.heading, .subheading-1, .h3 {
>>>>>>> 3f44ccb84911f9feb2ad1105b46d0733e4d5bc84
    font-family: 'Celtic Garamond the 2nd';
}

.ticket {
    width: 320px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    background-position: center;
}

.ticket h3 {
    color: #181532;
    font-size: 1.75rem;
}

.ticket p, .ticket span {
    color: #181532;
}

.ticket .includes p {
    display: flex;
    justify-content: space-between;
}

.ticket .includes p span {
    flex: 1;
    margin-right: 10px;
}

.ticket .includes p span:last-child {
    margin-right: 0;
}

.ticket a {
    background-color: #181532;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 0px;
    transition: background-color 0.3s;
    

}

.ticket a:hover {
    background-color: #444444;
}

.text-left {
    padding-top: 0px;
}

<<<<<<< HEAD
.block-1 {
    margin-bottom: 30px;
}

.block-2 {
    margin-bottom: 30px;
}

=======
>>>>>>> 3f44ccb84911f9feb2ad1105b46d0733e4d5bc84

/* Footer Section */
footer {
    background-color: #181532;
    padding: 40px 20px;
    color: white;
    position: relative;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dragon-image img {
    max-width: 100%;
    height: auto;
    margin-left: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
}

.contacts, .follow-us {
    flex: 1;
    margin-right: px;
}

.contacts {
margin-left: 170px;
}
.contacts h3, .follow-us h3 {
    font-family: 'Celtic Garamond the 2nd';
    margin-bottom: 10px;
}

.contacts p, .follow-us a {
<<<<<<< HEAD
    font-family: 'OpenSans-Regular';
=======
    font-family: 'Poppins', sans-serif;
>>>>>>> 3f44ccb84911f9feb2ad1105b46d0733e4d5bc84
    font-size: 16px;
    margin: 5px 0;
    color: white;
    text-decoration: none;
}

.follow-us a {
    margin-right: 10px;
    font-size: 24px;
}

.follow-us a:hover {
    color: #f6c567;
}

.contacts i, .follow-us i {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-content {
        padding-left: 0;
        margin-top: 20px;
    }

    .contacts, .follow-us {
        margin-right: 0;
    }

    .follow-us a {
        margin-right: 20px;
        margin-bottom: 10px;
    }
}

<<<<<<< HEAD




.character-item {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s;
    margin-top: 30px;
}

.character-item-6 {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s;
}

.character-item-6:hover {
    transform: scale(1.05);
}
.character-item:hover {
    transform: scale(1.05);
}

.character-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.character-name {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.partners-section {
    background-color: #181532; /* Dark background color */
    padding: 2rem 0;
}

.partner-item {
    margin: 1rem;
}

.partner-logo {
    width: 150px; /* Adjust the size as needed */
    height: auto;
    filter: brightness(0) invert(1); /* Make sure the logos are white on dark background */
}

    .testimonial-container {
        position: relative;
    }
    
    .arrow {
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .arrow:hover {
        background-color: #ccc;
    }
    
    .dots .dot {
        transition: background-color 0.3s;
    }
    
    .dots .dot.active {
        background-color: #000;
    }

=======
>>>>>>> 3f44ccb84911f9feb2ad1105b46d0733e4d5bc84
